
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&family=Lato:wght@300&family=Lobster&family=Prompt:ital@1&family=Rajdhani:wght@600&family=Source+Code+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&family=Lato:wght@300&family=Lobster&family=Oswald:wght@600&family=Prompt:ital@1&family=Rajdhani:wght@600&family=Source+Code+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600&display=swap');

$fontsL:'Lato', sans-serif;
$fontsO:'Oswald', sans-serif;
$fontflu:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$fontfpr: 'Prompt', monospace;